<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="beneficiary">
            <h2><span jhiTranslate="projectsOverviewApp.beneficiary.detail.title">Beneficiary</span> {{ beneficiary.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projectsOverviewApp.beneficiary.name">Name</span></dt>
                <dd>
                    <span>{{ beneficiary.name }}</span>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.beneficiary.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'projectsOverviewApp.BeneficiaryType.' + beneficiary.type }}">{{ beneficiary.type }}</span>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.beneficiary.address">Address</span></dt>
                <dd>
                    <span>{{ beneficiary.address }}</span>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.beneficiary.contact">Contact</span></dt>
                <dd>
                    <span>{{ beneficiary.contact }}</span>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.beneficiary.contactPerson">Contact Person</span></dt>
                <dd>
                    {{ beneficiary.contactPersonLogin }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/beneficiary', beneficiary.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
