<div>
    <h2>
        <span id="health-page-heading" jhiTranslate="projectsOverviewApp.woAreWe.home.title">Who are we?</span>
    </h2>
    <div class="row">
        <div class="col-sm-2" ></div>
        <div class="col-sm-8" >
            <labe jhiTranslate="projectsOverviewApp.woAreWe.home.aboutLabel" style="font-weight: bold;"></labe>
            <span jhiTranslate="projectsOverviewApp.woAreWe.home.about"> </span>
        </div>
        <div class="col-sm-2" ></div>
    </div>
    <div class="row">
        <br>
    </div>
    <div class="row">
        <div class="col-sm-6" >
            <labe jhiTranslate="projectsOverviewApp.woAreWe.home.missionLabel" style="font-weight: bold;"></labe>
            <span jhiTranslate="projectsOverviewApp.woAreWe.home.mission"> </span>
        </div>
        <div class="col-6" >
            <labe jhiTranslate="projectsOverviewApp.woAreWe.home.visionLabel" style="font-weight: bold;"></labe>
            <span jhiTranslate="projectsOverviewApp.woAreWe.home.vision"> </span>
        </div>
    </div>
   

</div>