<div>
    <h2 id="page-heading">
        <span jhiTranslate="projectsOverviewApp.astridProject.home.title">Astrid Projects</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-astrid-project" [routerLink]="['/astrid-project/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="projectsOverviewApp.astridProject.home.createLabel">
            Create a new Astrid Project
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="astridProjects?.length === 0">
        <span jhiTranslate="projectsOverviewApp.astridProject.home.notFound">No astridProjects found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="astridProjects && astridProjects.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="projectsOverviewApp.astridProject.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="shortDescription"><span jhiTranslate="projectsOverviewApp.astridProject.shortDescription">Short Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="goal"><span jhiTranslate="projectsOverviewApp.astridProject.goal">Goal</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="statusName"><span jhiTranslate="projectsOverviewApp.astridProject.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="neededAmount"><span jhiTranslate="projectsOverviewApp.astridProject.neededAmount">Needed Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="currentAmount"><span jhiTranslate="projectsOverviewApp.astridProject.currentAmount">Current Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <!-- <th scope="col"  jhiSortBy="statusReason"><span jhiTranslate="projectsOverviewApp.astridProject.statusReason">Status Reason</span> <fa-icon icon="sort"></fa-icon></th> -->
                    <!-- <th scope="col"  jhiSortBy="statusDeadline"><span jhiTranslate="projectsOverviewApp.astridProject.statusDeadline">Status Deadline</span> <fa-icon icon="sort"></fa-icon></th> -->
                    <!-- <th scope="col"  jhiSortBy="documentation1"><span jhiTranslate="projectsOverviewApp.astridProject.documentation1">Documentation 1</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="documentation2"><span jhiTranslate="projectsOverviewApp.astridProject.documentation2">Documentation 2</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="documentation3"><span jhiTranslate="projectsOverviewApp.astridProject.documentation3">Documentation 3</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="documentation4"><span jhiTranslate="projectsOverviewApp.astridProject.documentation4">Documentation 4</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="documentation5"><span jhiTranslate="projectsOverviewApp.astridProject.documentation5">Documentation 5</span> <fa-icon icon="sort"></fa-icon></th> -->
                    <!-- <th scope="col"  jhiSortBy="entityCreationId"><span jhiTranslate="projectsOverviewApp.astridProject.entityCreation">Entity Creation</span> <fa-icon icon="sort"></fa-icon></th> -->
                    <!-- <th scope="col"  jhiSortBy="entityLastModificationId"><span jhiTranslate="projectsOverviewApp.astridProject.entityLastModification">Entity Last Modification</span> <fa-icon icon="sort"></fa-icon></th> -->
                    <!-- <th scope="col"  jhiSortBy="responsibleLogin"><span jhiTranslate="projectsOverviewApp.astridProject.responsible">Responsible</span> <fa-icon icon="sort"></fa-icon></th> -->
                    <!-- <th scope="col"  jhiSortBy="initiatorLogin"><span jhiTranslate="projectsOverviewApp.astridProject.initiator">Initiator</span> <fa-icon icon="sort"></fa-icon></th> -->
                    <!-- <th scope="col"  jhiSortBy="locationName"><span jhiTranslate="projectsOverviewApp.astridProject.location">Location</span> <fa-icon icon="sort"></fa-icon></th> -->
                    <th scope="col"  jhiSortBy="currencyName"><span jhiTranslate="projectsOverviewApp.astridProject.currency">Currency</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="supporters"><span jhiTranslate="projectsOverviewApp.astridProject.supporters">Supporters</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let astridProject of astridProjects ;trackBy: trackId">
                    <td><a [routerLink]="['/astrid-project', astridProject.id, 'view']">{{ astridProject.id }}</a></td>
                    <td>{{ astridProject.name }}</td>
                    <td>{{ astridProject.shortDescription }}</td>
                    <td>{{ astridProject.goal }}</td>
                    <td>
                        <div *ngIf="astridProject.statusId">
                            <a [routerLink]="['/project-status', astridProject.statusId , 'view']" >{{ astridProject.statusName }}</a>
                        </div>
                    </td>
                    <td>{{ astridProject.neededAmount }}</td>
                    <td>{{ astridProject.currentAmount }}</td>
                    
                    
                    <!-- <td>{{ astridProject.statusReason }}</td>
                    <td>{{ astridProject.statusDeadline | date:'medium' }}</td> -->
                    <!-- <td>
                        <a *ngIf="astridProject.documentation1" (click)="openFile(astridProject.documentation1ContentType, astridProject.documentation1)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="astridProject.documentation1">{{ astridProject.documentation1ContentType }}, {{ byteSize(astridProject.documentation1) }}</span>
                    </td>
                    <td>
                        <a *ngIf="astridProject.documentation2" (click)="openFile(astridProject.documentation2ContentType, astridProject.documentation2)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="astridProject.documentation2">{{ astridProject.documentation2ContentType }}, {{ byteSize(astridProject.documentation2) }}</span>
                    </td>
                    <td>
                        <a *ngIf="astridProject.documentation3" (click)="openFile(astridProject.documentation3ContentType, astridProject.documentation3)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="astridProject.documentation3">{{ astridProject.documentation3ContentType }}, {{ byteSize(astridProject.documentation3) }}</span>
                    </td>
                    <td>
                        <a *ngIf="astridProject.documentation4" (click)="openFile(astridProject.documentation4ContentType, astridProject.documentation4)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="astridProject.documentation4">{{ astridProject.documentation4ContentType }}, {{ byteSize(astridProject.documentation4) }}</span>
                    </td>
                    <td>
                        <a *ngIf="astridProject.documentation5" (click)="openFile(astridProject.documentation5ContentType, astridProject.documentation5)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="astridProject.documentation5">{{ astridProject.documentation5ContentType }}, {{ byteSize(astridProject.documentation5) }}</span>
                    </td> -->
                    <!-- <td>
                        <div *ngIf="astridProject.entityCreationId">
                            <a [routerLink]="['/entity-creation', astridProject.entityCreationId , 'view']" >{{ astridProject.entityCreationId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="astridProject.entityLastModificationId">
                            <a [routerLink]="['/entity-last-modification', astridProject.entityLastModificationId , 'view']" >{{ astridProject.entityLastModificationId }}</a>
                        </div>
                    </td> -->
                    <!-- <td>
                        {{ astridProject.responsibleLogin }}
                    </td> -->
                    <!-- <td>
                        {{ astridProject.initiatorLogin }}
                    </td> -->
                   
                    <!-- <td>
                        <div *ngIf="astridProject.locationId">
                            <a [routerLink]="['/location', astridProject.locationId , 'view']" >{{ astridProject.locationName }}</a>
                        </div>
                    </td> -->
                    <td>
                        <div *ngIf="astridProject.currencyId">
                            <a [routerLink]="['/currency', astridProject.currencyId , 'view']" >{{ astridProject.currencyName }}</a>
                        </div>
                    </td>
                    <td>{{ astridProject.supporters }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/astrid-project', astridProject.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button *jhiHasAnyAuthority="'ROLE_EDITOR'"
                                    type="submit"
                                    [routerLink]="['/astrid-project', astridProject.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="delete(astridProject)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
