<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="astridProject">
            <h2><span jhiTranslate="projectsOverviewApp.astridProject.detail.title">Astrid Project</span> {{ astridProject.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projectsOverviewApp.astridProject.name">Name</span></dt>
                <dd>
                    <span>{{ astridProject.name }}</span>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProject.shortDescription">Short Description</span></dt>
                <dd>
                    <span>{{ astridProject.shortDescription }}</span>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProject.documentation">Documentation</span></dt>
                <dd>
                    <div *ngIf="astridProject.documentation">
                        <a (click)="openFile(astridProject.documentationContentType, astridProject.documentation)" jhiTranslate="entity.action.open">open</a>
                        {{ astridProject.documentationContentType }}, {{ byteSize(astridProject.documentation) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProject.neededAmount">Needed Amount</span></dt>
                <dd>
                    <span>{{ astridProject.neededAmount }}</span>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProject.currentAmount">Current Amount</span></dt>
                <dd>
                    <span>{{ astridProject.currentAmount }}</span>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProject.currency">Currency</span></dt>
                <dd>
                    <span>{{ astridProject.currency }}</span>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProject.supporters">Supporters</span></dt>
                <dd>
                    <span>{{ astridProject.supporters }}</span>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProject.goal">Goal</span></dt>
                <dd>
                    <span>{{ astridProject.goal }}</span>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProject.statusReason">Status Reason</span></dt>
                <dd>
                    <span>{{ astridProject.statusReason }}</span>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProject.statusDeadline">Status Deadline</span></dt>
                <dd>
                    <span>{{ astridProject.statusDeadline }}</span>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProject.entityCreation">Entity Creation</span></dt>
                <dd>
                    <div *ngIf="astridProject.entityCreationId">
                        <a [routerLink]="['/entity-creation', astridProject.entityCreationId, 'view']">{{ astridProject.entityCreationId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProject.entityLastModification">Entity Last Modification</span></dt>
                <dd>
                    <div *ngIf="astridProject.entityLastModificationId">
                        <a [routerLink]="['/entity-last-modification', astridProject.entityLastModificationId, 'view']">{{ astridProject.entityLastModificationId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProject.responsible">Responsible</span></dt>
                <dd>
                    {{ astridProject.responsibleLogin }}
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProject.initiator">Initiator</span></dt>
                <dd>
                    {{ astridProject.initiatorLogin }}
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProject.status">Status</span></dt>
                <dd>
                    <div *ngIf="astridProject.statusId">
                        <a [routerLink]="['/project-status', astridProject.statusId, 'view']">{{ astridProject.statusName }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProject.location">Location</span></dt>
                <dd>
                    <div *ngIf="astridProject.locationId">
                        <a [routerLink]="['/location', astridProject.locationId, 'view']">{{ astridProject.locationName }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProject.implementationTeam">Implementation Team</span></dt>
                <dd>
                    <span *ngFor="let implementationTeam of astridProject.implementationTeams; let last = last">
                        {{ implementationTeam.login }}{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProject.beneficiaries">Beneficiaries</span></dt>
                <dd>
                    <span *ngFor="let beneficiaries of astridProject.beneficiaries; let last = last">
                        <a [routerLink]="['/beneficiary', beneficiaries?.id, 'view']">{{ beneficiaries.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/astrid-project', astridProject.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
