<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="astridProjectSuggestion">
            <h2><span jhiTranslate="projectsOverviewApp.astridProjectSuggestion.detail.title">Astrid Project Suggestion</span> {{ astridProjectSuggestion.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projectsOverviewApp.astridProjectSuggestion.name">Name</span></dt>
                <dd>
                    <span>{{ astridProjectSuggestion.name }}</span>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProjectSuggestion.shortDescription">Short Description</span></dt>
                <dd>
                    <span>{{ astridProjectSuggestion.shortDescription }}</span>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProjectSuggestion.goal">Goal</span></dt>
                <dd>
                    <span>{{ astridProjectSuggestion.goal }}</span>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProjectSuggestion.documentation1">Documentation 1</span></dt>
                <dd>
                    <div *ngIf="astridProjectSuggestion.documentation1">
                        <a (click)="openFile(astridProjectSuggestion.documentation1ContentType, astridProjectSuggestion.documentation1)" jhiTranslate="entity.action.open">open</a>
                        {{ astridProjectSuggestion.documentation1ContentType }}, {{ byteSize(astridProjectSuggestion.documentation1) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProjectSuggestion.documentation2">Documentation 2</span></dt>
                <dd>
                    <div *ngIf="astridProjectSuggestion.documentation2">
                        <a (click)="openFile(astridProjectSuggestion.documentation2ContentType, astridProjectSuggestion.documentation2)" jhiTranslate="entity.action.open">open</a>
                        {{ astridProjectSuggestion.documentation2ContentType }}, {{ byteSize(astridProjectSuggestion.documentation2) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProjectSuggestion.documentation3">Documentation 3</span></dt>
                <dd>
                    <div *ngIf="astridProjectSuggestion.documentation3">
                        <a (click)="openFile(astridProjectSuggestion.documentation3ContentType, astridProjectSuggestion.documentation3)" jhiTranslate="entity.action.open">open</a>
                        {{ astridProjectSuggestion.documentation3ContentType }}, {{ byteSize(astridProjectSuggestion.documentation3) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProjectSuggestion.documentation4">Documentation 4</span></dt>
                <dd>
                    <div *ngIf="astridProjectSuggestion.documentation4">
                        <a (click)="openFile(astridProjectSuggestion.documentation4ContentType, astridProjectSuggestion.documentation4)" jhiTranslate="entity.action.open">open</a>
                        {{ astridProjectSuggestion.documentation4ContentType }}, {{ byteSize(astridProjectSuggestion.documentation4) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProjectSuggestion.documentation5">Documentation 5</span></dt>
                <dd>
                    <div *ngIf="astridProjectSuggestion.documentation5">
                        <a (click)="openFile(astridProjectSuggestion.documentation5ContentType, astridProjectSuggestion.documentation5)" jhiTranslate="entity.action.open">open</a>
                        {{ astridProjectSuggestion.documentation5ContentType }}, {{ byteSize(astridProjectSuggestion.documentation5) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProjectSuggestion.initiator">Initiator</span></dt>
                <dd>
                    {{ astridProjectSuggestion.initiatorLogin }}
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.astridProjectSuggestion.status">Status</span></dt>
                <dd>
                    <div *ngIf="astridProjectSuggestion.statusId">
                        <a [routerLink]="['/project-status', astridProjectSuggestion.statusId, 'view']">{{ astridProjectSuggestion.statusName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/astrid-project-suggestion', astridProjectSuggestion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
