<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="projectStatus">
            <h2><span jhiTranslate="projectsOverviewApp.projectStatus.detail.title">Project Status</span> {{ projectStatus.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projectsOverviewApp.projectStatus.name">Name</span></dt>
                <dd>
                    <span>{{ projectStatus.name }}</span>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.projectStatus.daysToNotification">Days To Notification</span></dt>
                <dd>
                    <span>{{ projectStatus.daysToNotification }}</span>
                </dd>
                <dt><span jhiTranslate="projectsOverviewApp.projectStatus.order">Order</span></dt>
                <dd>
                    <span>{{ projectStatus.order }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/project-status', projectStatus.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
